body {
  background-color: #000;
  margin: 0;
}
#cabecera {
  background-color: #000;
  color: #fff;
  line-height: 1.4;
  overflow: hidden;
  margin: 0;
  width: 100%;
  height: 200vh;
  clear: both;
  font-family: 'Open Sans', sans-serif;
}
#cabecera .container-fluid {
  padding: 0;
  height: 100%;
}
#cabecera .container {
  padding: 0;
  clear: both;
}
#cabecera h2 {
  padding: 0;
  margin: 0;
}
#cabecera .box-model {
  height: auto;
  clear: both;
  padding: 0;
}
#cabecera .loader {
  background: transparent url("../images/ring.svg") center no-repeat;
  background-size: cover;
  width: 75px;
  height: 75px;
}
#cabecera #container {
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  float: left;
  overflow: hidden;
  opacity: 0;
  position: relative;
  background-image: url("../images/bck.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
}
#cabecera .contents {
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  height: 100%;
  clear: both;
  position: relative;
  height: 100vh;
}
#cabecera .logo {
  position: absolute;
  left: 9.38%;
  right: 79.24%;
  top: 2.96%;
  bottom: 93.57%;
}
#cabecera .intro {
  width: 100%;
  min-height: 980px;
  margin: 0 auto;
  clear: both;
  position: relative;
  background-position: center;
}
#cabecera .titular {
  position: absolute;
  left: -100%;
  right: auto;
  top: 13.27%;
  bottom: auto;
  z-index: 999;
  width: 382px;
}
#cabecera .titular img {
  width: 100%;
}
#cabecera .obj1 {
  position: absolute;
  left: 5.9%;
  right: 74.51%;
  top: 26.12%;
  bottom: 43.16%;
}
#cabecera .obj2 {
  position: absolute;
  left: 67.22%;
  right: 2.85%;
  top: 69.39%;
  bottom: 0%;
}
#cabecera .obj3 {
  position: absolute;
  left: 51%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  top: auto;
  bottom: -150%;
  z-index: 9999999;
  width: 345px;
}
#cabecera .obj3 img {
  width: 100%;
}
#cabecera .btnComenzar {
  position: absolute;
  left: 155%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  top: auto;
  bottom: 141px;
  z-index: 9999999;
  width: 345px;
}
#cabecera .btnComenzar .rcorners1 {
  border-radius: 25px;
  background: #d8d433;
  padding: 14px 20px 14px 20px;
  text-align: center;
  width: 193px;
  height: 20px;
  line-height: 1px;
  font-weight: 900;
}
#cabecera .obj4 {
  position: absolute;
  left: 0%;
  right: auto;
  top: -3.88%;
  bottom: -3.88%;
}
#cabecera .personaje {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: auto;
  bottom: 1200%;
  max-width: 526px;
}
#cabecera .personaje img {
  width: 100%;
}
#cabecera .obj6 {
  position: absolute;
  left: auto;
  right: 140%;
  top: -9.18%;
  bottom: 0%;
}
#cabecera .obj7 {
  position: absolute;
  left: 150%;
  right: auto;
  top: 10.82%;
  bottom: 39.69%;
}
#cabecera .footer {
  position: absolute;
  left: 72.9%;
  right: 9.38%;
  top: 91.94%;
  bottom: 3.37%;
  width: 240px;
  height: 47px;
  color: #fff;
}
#cabecera .footer span {
  display: block;
  text-align: right;
}

.sprite {
  background: url("sprite.png") no-repeat top left;
  width: 14px;
  height: 31px;
}
.sprite.aon {
  background-position: 0 0;
  width: 51px;
  height: 33px;
}
.sprite.arrow-left {
  background-position: -51px 0;
}
.sprite.arrow-right {
  background-position: -65px 0;
}
.sprite.arrows {
  background-position: -79px 0;
  width: 24px;
  height: 27px;
}
.sprite.arrow-scroll {
  background-position: -103px 0;
  width: 25px;
  height: 50px;
}
.sprite.btn-know {
  background-position: -128px 0;
  width: 226px;
  height: 62px;
}
.sprite.btn-know-w {
  background-position: -354px 0;
  width: 226px;
  height: 62px;
}
.sprite.logo-brand {
  background-position: -580px 0;
  width: 130px;
  height: 21px;
}
@media screen and (max-width: 479px) {
  .menutrigger {
    display: block;
    position: fixed;
    right: 10px;
    top: 14px;
    z-index: 1030;
  }
  .menutrigger .trigger {
    cursor: pointer;
    display: inline-block;
    margin-right: 7px;
    width: 24px;
  }
  .menutrigger .trigger span {
    background: #fff;
    border-radius: 20%;
    display: block;
    height: 3px;
    margin: auto;
    margin-top: 4px;
    opacity: 1;
    position: relative;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  header .ripley_logo_home {
    background: #000;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 100;
    display: block;
    height: 55px;
    position: fixed;
  }
  header .menu-header.active,
  header.scrolled .menu-header.active {
    display: block;
    top: 50px;
    position: fixed;
  }
  header .menu-header,
  header.scrolled .menu-header {
    display: none;
    position: absolute;
    top: -300%;
    width: 100%;
    z-index: 90;
    -webkit-transition: 0.45s ease;
    -moz-transition: 0.45s ease;
    -o-transition: 0.45s ease;
    -ms-transition: 0.45s ease;
    transition: 0.45s ease;
  }
  header .menu-header nav,
  header.scrolled .menu-header nav {
    padding-top: 0;
  }
  header .menu-header nav ul,
  header.scrolled .menu-header nav ul {
    height: auto;
    width: 100%;
  }
  nav ul {
    flex-direction: column;
    height: 90%;
    margin: 0 auto;
    padding: 0;
    width: 90%;
    -webkit-flex-direction: column;
  }
  header .menu-header nav ul li,
  header.scrolled .menu-header nav ul li {
    background: none;
    background-color: #000;
    border-top: 1px solid #fff;
    height: auto;
    padding: 1em;
    width: 100%;
  }
  header .menu-header nav ul li a,
  header.scrolled .menu-header nav ul li a {
    background: none;
    color: #fff;
    display: block;
    height: auto;
    text-align: center;
    text-indent: 0;
    width: 100% !important;
    font-family: 'Open Sans';
    text-decoration: none;
  }
}
@media screen and (max-width: 1024px) {
  #cabecera .container {
    max-width: 990px;
    padding: 0;
  }
}
@media screen and (max-width: 992px) {
  #cabecera .personaje {
    width: 90%;
  }
}
@media screen and (max-width: 812px) and (max-height: 375px) {
  #cabecera .personaje {
    width: 50%;
  }
  #cabecera .titular {
    width: 33%;
  }
  #cabecera .footer {
    top: auto;
    left: auto;
  }
  #cabecera .obj3 {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  #cabecera .container {
    max-width: initial;
    padding: initial;
  }
  #cabecera .intro {
    width: 100%;
    background-position: center;
  }
  #cabecera .personaje {
    width: 50%;
  }  
}
@media screen and (max-width: 767px) {
  #cabecera .intro {
    background-position: center;
    background-size: cover;
    clear: both;
    min-height: auto;
  }
  #cabecera .personaje {
    width: 50%;
  }  
  #cabecera .obj3 {
    width: 50%;
  }
  #cabecera .footer {
    top: auto;
    left: auto;
  }
  #cabecera .titular {
    width: 33%;
  }
}
@media screen and (max-width: 700px) {
  #cabecera #products .item {
    width: 50%;
  }
  #cabecera .personaje {
    width: 50%;
  }  
}
@media screen and (max-width: 640px) {
  #cabecera #section-categorys {
    margin-top: -6%;
  }
  #cabecera .personaje {
    width: 50%;
  }  
}
@media screen and (max-width: 480px) {
  #cabecera {
    height: 250vh;
  }
  #cabecera .intro {
    background-size: cover;
    background-position: 0 50px;
    height: 600px;
  }
  #cabecera .logo {
    top: 5%;
    bottom: auto;
  }
  #cabecera .logo,
  #cabecera .personaje,
  #cabecera .obj3,
  #cabecera .footer {
    right: auto;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
  }
  #cabecera .titular,
  #cabecera .obj3 {
    width: 60%;
  }
  #cabecera .titular img,
  #cabecera .obj3 img {
    width: 100%;
  }
  #cabecera .personaje {
    width: 84%;
  }
  #cabecera .personaje img {
    width: 125%;
    transform: translate(-10%, 0);
    -webkit-transform: translate(-10%, 0);
  }
  #cabecera .footer {
    top: 87.5%;
  }
  
}
@media screen and (max-width: 360px) {
  #cabecera .call {
    width: 65%;
    left: 50%;
    transform: translate(-50%, 0);
  }
  #cabecera .btn-know-w {
    width: 50%;
  }
  #cabecera .ventajas {
    top: auto;
    bottom: 0;
  }
  #cabecera .subcategoria {
    width: 55%;
  }
  #cabecera .img-slide {
    height: 350px;
  }
  #cabecera .title-subcategoria {
    width: 80%;
    margin: 0 auto 12.5px;
  }
  #cabecera .title-subcategoria img {
    height: 25px;
  }
  #cabecera .bg-subcategorias {
    padding-top: 0;
  }
  #cabecera .over-content {
    padding-top: 5%;
  }
  #cabecera .ventajas .title img {
    width: 45% !important;
  }
  #cabecera .lista-subcategoria li a {
    font-size: 85%;
  }
  #cabecera .title-section {
    font-size: 10vw;
  }
}
@media screen and (max-width: 320px) {
  #cabecera .title-productos img {
    width: 65%;
  }
  #cabecera .btnComenzar {
    position: absolute;
    left: 72%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    top: auto;
    bottom: 141px;
    z-index: 9999999;
    width: 345px;
    bottom: -120px;
  }
  #cabecera .logo {
    top: 5%;
    bottom: auto;   
    left: 33%!important;
  }  
}
@-webkit-keyframes scrolling {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 5px;
  }
  100% {
    bottom: 0;
  }
}
@-moz-keyframes scrolling {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 5px;
  }
  100% {
    bottom: 0;
  }
}
@-o-keyframes scrolling {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 5px;
  }
  100% {
    bottom: 0;
  }
}
@-webkit-keyframes anima1 {
  0% {
    top: 26.12%;
  }
  50% {
    top: 25.12%;
  }
  100% {
    top: 26.12%;
  }
}
@-moz-keyframes anima1 {
  0% {
    top: 26.12%;
  }
  50% {
    top: 25.12%;
  }
  100% {
    top: 26.12%;
  }
}
@-o-keyframes anima1 {
  0% {
    top: 26.12%;
  }
  50% {
    top: 25.12%;
  }
  100% {
    top: 26.12%;
  }
}
@-moz-keyframes scrolling {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 5px;
  }
  100% {
    bottom: 0;
  }
}
@-webkit-keyframes scrolling {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 5px;
  }
  100% {
    bottom: 0;
  }
}
@-o-keyframes scrolling {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 5px;
  }
  100% {
    bottom: 0;
  }
}
@keyframes scrolling {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 5px;
  }
  100% {
    bottom: 0;
  }
}
@-moz-keyframes anima1 {
  0% {
    top: 26.12%;
  }
  50% {
    top: 25.12%;
  }
  100% {
    top: 26.12%;
  }
}
@-webkit-keyframes anima1 {
  0% {
    top: 26.12%;
  }
  50% {
    top: 25.12%;
  }
  100% {
    top: 26.12%;
  }
}
@-o-keyframes anima1 {
  0% {
    top: 26.12%;
  }
  50% {
    top: 25.12%;
  }
  100% {
    top: 26.12%;
  }
}
@keyframes anima1 {
  0% {
    top: 26.12%;
  }
  50% {
    top: 25.12%;
  }
  100% {
    top: 26.12%;
  }
}
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
}
.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}
.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
}
.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.mfp-align-top .mfp-container:before {
  display: none;
}
.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}
.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}
.mfp-ajax-cur {
  cursor: progress;
}
.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}
.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}
.mfp-auto-cursor .mfp-content {
  cursor: auto;
}
.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.mfp-loading.mfp-figure {
  display: none;
}
.mfp-hide {
  display: none !important;
}
.mfp-preloader {
  color: #ccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}
.mfp-preloader a {
  color: #ccc;
}
.mfp-preloader a:hover {
  color: #fff;
}
.mfp-s-ready .mfp-preloader {
  display: none;
}
.mfp-s-error .mfp-content {
  display: none;
}
button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #fff;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}
.mfp-close:hover,
.mfp-close:focus {
  opacity: 1;
}
.mfp-close:active {
  top: 1px;
}
.mfp-close-btn-in .mfp-close {
  color: #fff;
  text-shadow: 1px 1px 1px #333;
}
.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #fff;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}
.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}
.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent;
}
.mfp-arrow:active {
  margin-top: -54px;
}
.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1;
}
.mfp-arrow:before,
.mfp-arrow:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}
.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}
.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}
.mfp-arrow-left {
  left: 0;
}
.mfp-arrow-left:after {
  border-right: 17px solid #fff;
  margin-left: 31px;
}
.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3f3f3f;
}
.mfp-arrow-right {
  right: 0;
}
.mfp-arrow-right:after {
  border-left: 17px solid #fff;
  margin-left: 39px;
}
.mfp-arrow-right:before {
  border-left: 27px solid #3f3f3f;
}
.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}
.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}
.mfp-iframe-holder .mfp-close {
  top: -40px;
}
.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}
.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0,0,0,0.6);
  background: #000;
}
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}
.mfp-figure {
  line-height: 0;
}
.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0,0,0,0.6);
  background: #444;
}
.mfp-figure small {
  color: #bdbdbd;
  display: block;
  font-size: 12px;
  line-height: 14px;
}
.mfp-figure figure {
  margin: 0;
}
.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}
.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-wrap: break-word;
  padding-right: 36px;
}
.mfp-image-holder .mfp-content {
  max-width: 100%;
}
.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}
@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }
  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0,0,0,0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box;
  }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0,0,0,0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}
.swing-1 {
  -webkit-animation: phase 8.5s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-animation: phase 8.5s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: phase 8.5s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.swing-2 {
  -webkit-animation: phase2 8.5s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-animation: phase2 8.5s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: phase2 8.5s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.swing-3 {
  -webkit-animation: phase3 2.5s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-animation: phase3 2.5s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: phase3 2.5s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@-webkit-keyframes phase {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.8;
  }

  75% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes phase {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.8;
  }

  75% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes phase {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.8;
  }

  75% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

@keyframes phase {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.8;
  }

  75% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}





@-webkit-keyframes phase2 {
  0% {
    opacity: 0.1;
  }

 
  50% {
    opacity: 0.8;
  }

  

  100% {
    opacity: 1;
  }
}

@-moz-keyframes phase2 {
  0% {
    opacity: 0.1;
  }

 
  50% {
    opacity: 0.5;
  }

  

  100% {
    opacity: 1;
  }
}

@-ms-keyframes phase2 {
  0% {
    opacity: 0.1;
  }

 
  50% {
    opacity: 0.8;
  }

  

  100% {
    opacity: 1;
  }
}

@keyframes phase2 {
  0% {
    opacity: 0.1;
  }

 
  50% {
    opacity: 0.8;
  }

  

  100% {
    opacity: 1;
  }
}






@-webkit-keyframes phase3 {
  0% {
    opacity: 1;
  }

 
  50% {
    opacity: 0.5;
  }

  

  100% {
    opacity: 0.1;
  }
}

@-ms-keyframes phase3 {
  0% {
    opacity: 1;
  }

 
  50% {
    opacity: 0.5;
  }

  

  100% {
    opacity: 0.1;
  }
}
@-moz-keyframes phase3 {
  0% {
    opacity: 1;
  }

 
  50% {
    opacity: 0.5;
  }

  

  100% {
    opacity: 0.1;
  }
}
@keyframes phase3 {
  0% {
    opacity: 1;
  }

 
  50% {
    opacity: 0.5;
  }

  

  100% {
    opacity: 0.1;
  }
}